#servicios .row {
    min-height: 80vh;
}

.service-list {
    text-align: left;
}

.service-item {
    cursor: pointer;
    transition: opacity 0.3s ease, color 0.3s ease;
    margin-bottom: 2rem;
}

.service-item:not(.active) {
    opacity: 0.5;
}

.service-item.active, .service-item:hover {
    opacity: 1;
}

.service-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.service-date {
    font-size: 0.9rem;
    color: #888;
}

.service-image-container {
    height: 100%;
    width: 95%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.service-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 20px;
}

.service-image.active {
    display: block;
}

.service-image-mobile {
    margin-bottom: 1rem;
}

.service-image-mobile img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 767px) {
    #servicios .row {
        min-height: auto;
    }

    .service-item {
        opacity: 1;
        margin-bottom: 2rem;
    }

    .service-content {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .service-item:not(.active) {
        opacity: 0.5;
    }

    .service-item.active, .service-item:hover {
        opacity: 1;
    }
}