<section id="inicio" class="hero">
  <div class="hero-overlay">
    <div class="container h-100">
      <div class="row h-100 align-items-center text-center">
        <div class="col-12">
          <h1 id="typewriter-title" class="mb-4"></h1>
          <p class="mb-5 hero-description">Soluciones rápidas para computadores e impresoras.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const title = "MANTENCION PARA TUS DISPOSITIVOS";
      const typewriterElement = document.getElementById('typewriter-title');
      let i = 0;
    
      function typeWriter() {
        if (i < title.length) {
          typewriterElement.innerHTML += title.charAt(i);
          i++;
          setTimeout(typeWriter, 100); // Ajusta este valor para cambiar la velocidad de escritura
        }
      }
    
      typeWriter();
    });
</script>

