{% load static %}

<style>
    #servicios .row {
        min-height: 80vh;
    }
    
    .service-list {
        text-align: left;
    }
    
    .service-item {
        cursor: pointer;
        transition: opacity 0.3s ease, color 0.3s ease;
    }
    
    .service-item:not(.active) {
        opacity: 0.5;
    }
    
    .service-item.active, .service-item:hover {
        opacity: 1;
    }
    
    .service-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
    
    .service-date {
        font-size: 0.9rem;
        color: #888;
    }
    
    .service-image-container {
        height: 100%;
        width: 95%;
        overflow: hidden;
        position: relative;
    }
    
    .service-image-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 20px; /* Ajusta este valor según prefieras */
    }
    
    .service-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 100%;
        object-fit: cover;
        display: none;
        border-radius: 20px; /* Ajusta este valor según prefieras */
    }
    
    .service-image.active {
        display: block;
    }
    
    
</style>

{% load static %}

<section id="servicios" class="section py-5 bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="text-left">
                    <h2 id="nuestros-servicios" class="section-title mb-5">Nuestros Servicios</h2>
                    <ul class="list-unstyled service-list">
                        <li class="service-item mb-4 active" data-service="software">
                            <h3 class="service-title">Instalación y Activación de Programas</h3>
                            <p class="service-date">6.6.24</p>
                        </li>
                        <li class="service-item mb-4" data-service="os">
                            <h3 class="service-title">Restauración e Instalación de Sistemas Operativos</h3>
                            <p class="service-date">5.15.24</p>
                        </li>
                        <li class="service-item mb-4" data-service="printer">
                            <h3 class="service-title">Diagnóstico y Mantención de Impresoras</h3>
                            <p class="service-date">3.18.24</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="service-image-container">
                    <img id="software-image" src="{% static 'images/software.png' %}" alt="Instalación y Activación de Programas" class="service-image active">
                    <img id="os-image" src="{% static 'images/hardware.png' %}" alt="Restauración e Instalación de Sistemas Operativos" class="service-image">
                    <img id="printer-image" src="{% static 'images/impresora.png' %}" alt="Diagnóstico y Mantención de Impresoras" class="service-image">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const serviceItems = document.querySelectorAll('.service-item');
        const serviceImages = document.querySelectorAll('.service-image');
    
        serviceItems.forEach(item => {
            item.addEventListener('mouseenter', function() {
                const service = this.getAttribute('data-service');
                updateActiveService(service);
            });
    
            item.addEventListener('click', function() {
                const service = this.getAttribute('data-service');
                updateActiveService(service);
            });
        });
    
        function updateActiveService(service) {
            // Remove active class from all items and images
            serviceItems.forEach(i => i.classList.remove('active'));
            serviceImages.forEach(img => img.classList.remove('active'));
            
            // Add active class to hovered/clicked item and corresponding image
            document.querySelector(`.service-item[data-service="${service}"]`).classList.add('active');
            document.getElementById(`${service}-image`).classList.add('active');
        }
    });
</script>